li.user-photo{
    text-align: center;
    border-radius: 50%;
    margin-top: 6px;
    margin-bottom: 6px;
}
li.user-photo>img{
    width: 63px;
}
.page-header {
    margin: 12px 0 20px;
}
.page-header a{
    margin-left: 22px;
}