
.my-login-page {
	margin-top: 87px;
}
.bg-login {
	background-image: url('../../images/login.jpg');
	background-size: 100%;
	background-position: center;
    height: 100%; 
	background-repeat: no-repeat;
}
.my-login-page .brand {
	margin: 40px auto;
}
.my-login-2  {
	margin-top: -60px;
}
.layer-login {
	width: 100%;
	position: relative;
	background: #00000096;
	height: 100%;
}

.my-login-page .card-wrapper {
	width: 450px;
	padding: 10px;
}

.my-sign-up .card-wrapper{
	width: 700px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}
.login {
	padding-bottom: 20px;

}
.my-login-page .card.fat {
	padding: 10px;
	margin-top: 110px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}
@media(max-width:1024px) {
	.bg-login {
		background-size: 1656px;
	}
	.navbar-expand-lg .navbar-collapse {
		padding-left: 0;
	}
	#mainNav .navbar-nav > li.nav-item > a {
		font-size: 12px;
	}
}
@media (max-width: 768px) { 
	.bg-login {
    background-size: 1740px;
	}
}

@media (max-width: 479px) {
	.main-page-login {
    	margin-top: 35px;
	}
	.my-login-2  {
		margin-top: -30px;
	}
	.bg-login {
		background-size: 1734px
	}
}