#mainNav {
    background: #212529;
}
.main-page {
    margin-top: 80px;
}
.main-page-login {
    margin-top: 140px;
}
.bg-investment {
	background: linear-gradient(to left, #ffffff 0%, #ffc107 100%);
	padding: 10px;
}